<!DOCTYPE html>
<html>
<head>
    <title>About EasyFilm</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

            .container:hover {
                transform: translateY(-5px);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }

        h2 {
            color: #333;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 28px;
        }

        p {
            color: #666;
            line-height: 1.6;
            margin-bottom: 30px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>About EasyFilm</h2>
        <p>
            EasyFilm is your premier destination for all things movies. Our platform offers a comprehensive database of movie information, making it easy for you to explore your favorite films, discover new releases, and stay up-to-date with the latest industry news. Whether you're a cinephile seeking in-depth analyses or a casual moviegoer looking for recommendations, EasyFilm has you covered. Experience the world of cinema like never before with EasyFilm.
        </p>
    </div>
</body>
</html>
